/*********************

Authors:
	Jay Tang

Stylesheet:
	Footer module stylesheet

*********************/

footer {
	background-color: $colour-background-neg;
	text-align: right;
	color: $colour-copy-neg;
}
