/*********************

Authors:
	Jay Tang

Stylesheet:
	Header module stylesheet

*********************/

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: $colour-background-beta;
	z-index: 2;
}
